.app-information {
    @include screen ("tablet") {
        width: 302px;
    }
    &__title-main {
        @extend %heading-2;
        display: block;
        padding: 25px 10px 20px 25px;
        text-align: center;
        @include screen ("tablet", max) {
            margin: 0 auto;
        }
        @include screen ("tablet") {
            font-size: 40px;
    line-height: 1;
    font-weight: 300;  
            padding: 102px 10px 40px 57px;
            width: 192px;
     
        }
        @include screen ("desktop") {
           font-size: 50px; 
            padding: 118px 10px 64px 38px;
            width: 240px;
            
        }
        
    }
    &__title-main--pos {
        @include screen ("tablet", max) {
        margin-bottom: 328px;
        }
    }
    &__text {
        font-weight: 300;

        @include screen ("tablet", max) {
            padding-left: 43px;
            padding-right: 24px;
        }
    }
}