.link-item {
    @extend %links;
    text-align: center;
   
    
 
    &--type-block {
        display: block;
        @include screen ("tablet") {
            width: 284px;
        }
        @include screen ("desktop") {
            width: 303px;
        }
        
    }
//    &--pos {
//        
//        @include screen ("tablet", max) {
//            margin: 0 20px;  
//        }
//       
//    }
//    &--color-black {
//        color: $color-base;
//        &:active {
//            color: #958c84;
//        }
//    }
    &--color-white {
        color: $background-color-main;
        
        &:active {
            color: #6c6c6c;
        }
    }
//    &--size-big {
//        @include screen ("tablet", max) {
//          padding-top: 18px;
//        padding-bottom: 18px;  
//        }
//    }
     &--size-small {
         padding: 12px 30px;
    }
    &--border-white {
        border: 3px solid $background-color-main;
        border-radius: 25px;
        &:hover {
            border-color: #d5c9bd;
        }

    }
//    &--border-gray {
//        border: 1px solid #3e3e3e;
//        &:hover {
//            border-color: #515151;
//        }
//    }
//    &--active-gray {
//        &:active {
//            background-color:#d5c9bd; 
//             border: 1px solid #d5c9bd;
//        }
//        
//    }
//    
//    &--active-black {
//        &:active {
//        background-color: #252525;
//            border: 1px solid #252525;
//        }
//    }


}