.page-header {
  padding-bottom: 36px;
  color: $background-color-main;
  @include screen ("tablet") {
    padding-bottom: 115px;
  }
  @include screen ("desktop") {
    padding-bottom: 127px;
  }
  &--color {
    background-color: $color-base;
    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-position: 0% 40%, 0% 0%;
    background-repeat: no-repeat;
    @include screen ("tablet") {
      background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
      background-position: 50% 100%, 50% 50%;
      background-size: auto, auto;
    }
    @include screen ("desktop") {
      background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
      background-position: 60% 100%, 50% 50%;
      background-size: auto, 100% 100%;
    }
  }
  &__wrapper {
    @include wrapper;
  }
}
