.slider {
  &__block {
    position: relative;
  }
  &__control {
    position: absolute;
    bottom: 36px;
    left: 40%;
    z-index: 100;
    @include screen ("tablet") {
      bottom: 20px;
      left: 45%;
    }
  }
  &__toggle {
    @include screen ("tablet", max) {
      width: 6px;
      height: 6px;
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
      transition: all 0.3s linear;
      background-color: $color-gray;
      border-radius: 50%;
      border: 3px solid #f2f2f2;
      ;
      transition: 0.3s linear;
      &:hover {
        background-color: #7e868f;
      }
      &--pos {
        margin-right: 15px;
      }
    }
  }
  &__input {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin-right: 15px!important;
  cursor: pointer;
  transition: all 0.3s linear;
  background-color: $color-gray;
  border-radius: 50%;
  border: 3px solid $background-color-main;
  transition: 0.3s linear;
  &:hover {
    background-color: #7e868f;
  }
  &:active {
    opacity: 0.1;
    background-color: $color-base;
  }
  &-active {
    background-color: $background-color-main;
    border-color: $color-base;
  }
}

.swiper-slide {
  display: flex;
}
