body {
    font-size: $font-size-base;
    @include screen ("tablet", max) {
        font-size: $font-size-small;
    }
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    background-color: $background-color-main;
    color: $color-base;
    line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

%heading-1 {
    font-size: 40px;
    line-height: 1;
    font-weight: 300;
}

%heading-2 {
    font-size: 24px;
    line-height: 1.125;
    font-weight: 300;
}
%heading-3 {
    font-size: 50px;
    line-height: 1;
    font-weight: 300;
}

%text-small {
    font-size: 14px;
    line-height: 1.35;
    font-weight: 400;
}

%text-big {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
}
%links {text-decoration: none;
    color: $background-color-main;
    font-weight: 700;
    font-size: $font-size-base;
    
}
.visually-hidden {
	 @include visual-hide;
}
