$font-size-base: 18px;
$line-height-base: 1.5;
$font-family-base: "PTSansNarrow", sans-serif, "Arial";
$font-weight-base: 400;
$color-base: #000000;
$background-color-main: #242424;
$color-main: #ffffff;
$color-slider: #353535;
$color-menu: #826550;
$color-menu-opened: #6a4d38;
//$mobile-only: ~"(max-width:767px)";
//    $mobile-width
//    $tablet-width
//    $desktop-width